
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Josefin+Slab|Kaushan+Script|Pacifico|Play|Poiret+One|Questrial|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
h1{
  text-align: center;
}

.flex-container{
  margin: 0;
  display: flex;
  flex-flow: row wrap; /*shortcut: flex-direction and flex-wrap*/
  justify-content:center;
}

.flex-item {
  border: 1px solid #979797;
  margin: 5px;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  background-color:#a4b0be;
  font-family: 'Rajdhani', sans-serif;

}

table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
}
.imageDisplay{
  display: flex;
  flex-wrap: nowrap;
}

.mainpagetitle{
  font-family: 'Questrial', sans-serif;
  font-size:90px;

  }

#table{
  background-color:#ffffff;
}
#addBtn{

}
